Check equivalence of dropping probabilities in classic and L4S queues

The specification in RFC 9331 states: 
"Under persistent overload, an L4S marking treatment MUST begin
   applying drop to L4S traffic until the overload episode has subsided,
   as recommended for all AQM methods in Section 4.2.1 of [RFC7567],
   which follows the similar advice in Section 7 of [RFC3168].  During
   overload, it MUST apply the same drop probability to L4S traffic as
   it would to Classic traffic."

**_goal:_** Make sure that the dropping probability in the L4S queue is the same as the classic queue